body {
  background-image: url(imgs/mapbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#zipcode {
  opacity: 0.5;
  margin-right: 15px;
}



#pollution {
  background-color: white;
  opacity: 0.5;
  margin-top: 10px;
  padding: 20px;
}

.divider  {
  opacity: 0.5;
}

.container {

}

img {
  position: absolute;
  text-align:center;
}

.image {
text-align: center;
}

button {
  opacity: 0.9;
  margin-top: 4px;

}
