/*html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}*/

body {
  background-image: url(mapbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


#map {
  margin: 0 auto;
  width: 900px;
  height: 600px;
}

.arcgisSearch .searchBtn {
  margin: 0 auto;
}

#zipcode {
  opacity: 0.5;
  margin-right: 15px;
}



#pollution {
  background-color: white;
  opacity: 0.5;
  margin-top: 10px;
  padding: 20px;
}

.divider  {
  opacity: 0.5;
}

.container {

}

img {
  position: absolute;
  text-align:center;
}

.image {
text-align: center;
}

button {
  opacity: 0.9;
  margin-top: 4px;

}
